.character-details{
  background-color: #f8f9fab3;
  &__image{
    width: 100%;
    height: 40vw;
    object-fit: cover;
    background-position-x: 0;
  }

  &__comic-list{
    overflow-y: scroll;
    height: 54vh;
  }
  
  @media screen and (max-width: 600px) {
    &__image{
      height: 100vw;
    }
  }
}