.navigation{
  &__logo{
    background-image: url(./logo.png);
    width: 204px;
    height: 55px;
    padding: 0;
  }

  &__brand{
    padding: 0;
  }

  &__button{
    margin-right: 5%;
    border: 1px solid white;
    border-radius: 13px;
  }
}