.comic-list-item{
  margin-bottom: 2%;
  padding-bottom: 1px;
  border-bottom: 1px solid darkgray;
  &__thumbnail{
    padding-right: 1%;
    height: 10vw;
    object-fit: cover;
    
  }


  @media screen and (max-width: 600px){
    &__thumbnail{
    height: 27vh;
    }
  }
}